<%- include("includes/head.ejs") %>
<%- include("includes/header.ejs") %>

<body>
        
        
            <div class="w-50" style="margin-left: 27rem; margin-top: 3rem; margin-bottom: 3rem;">

                <form method="post" action="/items/new">
                    <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name">
                  <div id="emailHelp" class="form-text">Name is required</div>
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Price</label>
                  <input type="number" class="form-control" id="price" name="price">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">category</label>
                    <input type="text" class="form-control" id="category" name="category">
                  </div>
                  <div class="mb-3">
                    <label for="origin" class="form-label">Origin</label>
                    <input type="text" class="form-control" id="origin" name="origin">
                  </div>

                  <div class="mb-3">
                    <label for="image" class="form-label">enter image link</label>
                    <input type="text" class="form-control" id="image" name="image">
                  </div>
                  
                  <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                  </div>
                <button class="btn btn-danger">Add new Food</button>
            </form>
        </div>

        <%- include("includes/footer.ejs") %>

</body>
</html>